#map_canvas {
    height:600px;
    width:100%;
}
#currentIcon {
    float: left;
    margin: 0 .75em;
}
 #map_canvas {
    height:600px;
    width:100%;
}
#currentIcon {
    float: left;
    margin: 0 .75em;
}
 